*.txt
!config.txt
!requirements.txt

*.pyc
__pycache__/
*.pyo
*.pyd

.Python
build/
dist/
wheels/
share/python-wheels/
lib/
lib64/
pkgconfig/
var/
bin/
include/

*.egg
*.egg-info
EGG-INFO/
.eggs/

.vscode/
.mypy_cache/
